# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environment folders
.venv/
env/
venv/

# Ignore environment variable files
.env

# Byte-compiled and log files
*.log
*.sqlite3
*.db

# OS-specific files
.DS_Store
Thumbs.db

# Ignore data in pgvectorstore
pg_vector/data/
